[class*="col-"]{
}

header{
    height: 100px;
    background-color: yellow;
}

.header-container{
    height: 100%;
    border: 1px solid black;
    line-height: 100px;
}

.jumbotron{
    height: 500px;
    background-color: aquamarine;
}

.height-500{
    height: 500px;
    border: 1px solid red;
}