[class*="col-"]{
    border: 1px solid red;
}

header{
    height: 100px;
    background-color: aquamarine;
}

.header-container{
    height: 100%;
    border: 1px solid black;
    line-height: 100px;
}